/* style.css */
/*.imagem-cabecalho {
  width: 600px; 
  /*height: 300px; */
  /*border: 2px solid hsl(249, 90%, 24%); */
  /*border-radius: 00%; */
 /* background-color: #eee; */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(140, 93%, 18%);
}
h1 { 
    background-color: #080a7d;
    color: rgb(173, 224, 248);
  }
.calculator {
    border: 2px solid hsl(278, 77%, 83%);
    width: 800px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    background-image: url('img/iStock-687112264-768x479.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.number {
    background-color: #ffffff;
    color: hsl(108, 45%, 74%);
}
#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 0px;
    margin-bottom: 10px;
    background-color: hwb(264 22% 18%);
    border: 1px solid hsl(230, 93%, 17%);
}
.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: hsl(313, 69%, 70%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}