/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(140, 93%, 18%);
}
.calculator {
    border: 1px solid hsl(278, 77%, 83%);
    width: 500px;
    text-align: center;
    padding: 10px;
}
.number {
    background-color: #ef23d0;
    color: hsl(108, 94%, 49%);
}
#display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}
.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}