/* style.css */
/*.imagem-cabecalho {
  width: 600px; /* Largura da imagem */
  /*height: 300px; /* Altura da imagem */
  /*border: 2px solid hsl(249, 90%, 24%); Borda preta com 2px de largura */
  /*border-radius: 00%;  Borda arredondada para criar um círculo */
 /* background-color: #eee; /* Cor de fundo do círculo }*/

 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(114, 100%, 83%);
    }
    h1 { 
      background-color: #080a7d;
      color: rgb(138, 184, 221);
    }
  
  .calculator {
  border: 2px solid hsl(310, 90%, 69%);
  width: 800px; 
  height: 600px;
  margin: 0 auto; 
  text-align: center;
    padding-top: 10px;
    background-image: url('img/iStock-687112264-768x479.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    }
    
  .number {
    background-color: #5f0268; 
    color: hsl(295, 84%, 80%); 
  }
  
  #display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 0px;
  margin-bottom: 10px;
  background-color: hwb(264 53% 23%);
  border: 1px solid hsl(230, 93%, 17%);
  border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
  width: 100%;
  height: 60px;
  font-size: 20px;
  background-color: hsl(313, 69%, 70%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  button:hover {
    background-color: #45a049;
 }